<div class="container">
    <div class="row upload">
        <div class="col-sm-6">
            <mat-card>
                <input type="file" #file multiple (change)="handleFileChange()">
                <button class="btn btn-primary" style="margin-right: 5px;"
                    (click)="handleUpload()">{{'pages.breakpoint.btnupload' | translate}}</button>
                <button class="btn btn-warning"
                    (click)="handleResume()">{{'pages.breakpoint.btnpause' | translate}}</button>
            </mat-card>
        </div>
    </div>
</div>